<%= form_with model: @menu do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :price %><br>
    <%= form.text_field :price %><br>
  </div>

  <div> </div>

  <div>
    <%= form.submit %>
  </div>
  
<% end %>
