<% @current_object %>
<div class="container">
  <div class="jumbotron">
    <h1>Menu</h1>
    <p>Menu Details</p>
    <%= link_to 'create menu',new_menu_path %>
  </div>

  <div class="table-responsive">
	  <table class="table table-hover">
	    <thead>
	      <tr>
	        <th>Name</th>
	        <th>Price</th>
	        <th>Action</th>
	        <th>Action</th>
	        <th>Action</th>
	      </tr>
	    </thead>
	    <tbody>
  			<% @menus.each do |menu| %>
	      	<tr>
						<td><%= menu.name  %></td>
						<td><%= menu.price %></td>
			
            <td><%= link_to "Edit", edit_menu_path(menu.id) %></td>
		        <td><%= link_to "Show", menu_path(menu.id) %></td>
		        <td><%= link_to "Destroy", menu_path(menu.id), data: { turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></td>

	        </tr>
		    <% end %>
	    </tbody>
	  </table>
	</div> 
	<%= link_to 'Back', :back %></br>
	<%= link_to  do %>
		Order Conform
	<% end %>
	<%= button_tag :confirm_order, id: 'confirmOrder' %>
</div>


<script>
	$(document).ready(function() {
		// $('#confirmOrder').on('click', function(){
			
		// });
		data = []
		$('.check-menu').on('click', function(){
			menu_id = $(this).data('menu-id')
			data.push({menu_id: menu_id, quantity: 1})
			debugger
			$.ajax({
	      type: "POST",
	      url: "/orders",
	      data: data,
	      dataType: "script",
	      encode: true,
	    }).done(function (data) {
	      console.log(data);
	    });

		});
	})
</script>

