<%= form_with model: @shop do |form| %>

  <div>
    <%= form.label :profile_image %><br>
    <%= form.file_field :profile_image %>
  </div>
  
  <div>
    <%= form.label :Shopname %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :Email %><br>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :password %><br>
    <%= form.password_field :password %><br>
  </div>

  <div>
    <%= form.label :password_confirmation %><br>
    <%= form.password_field :password_confirmation %><br>
  </div>

  <div>
    <%= form.label :City %><br>
    <%= form.text_field :city %>
  </div>

  <div>
    <%= form.label :Address %><br>
    <%= form.text_field :address %><br>
  </div>

  <div>
    <%= form.label :Phone %><br>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.label :Pin_Code %><br>
    <%= form.text_field :pin_Code %><br>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
