<div class="container">
  <div class="jumbotron">
     <p><%= @shop.name %></p>
     <p><%= @shop.email %></p>
     <p><%= @shop.city %></p>
     <p><%= @shop.address %></p>
     <p><%= @shop.pin_code %></p>
     <p><%= @shop.phone %></p>
   </div>
   <h2>Shop </h2>
   <div class="table-responsive">
    <table class="table table-hover" id="shop_products_list">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Select</th>
          <th>Quantity</th>
          <th>Total Amount</th>
        </tr>
      </thead>
      <tbody>
        <%= form_with model: @order do |f| %>
          <% @menus.each do |menu| %>
            <tr class="row-select cart">
              <td class="get_menu_name">
                <%= menu.name  %>
               </td>
              <td class="get_menu_price price">
                <%= menu.price %>
              </td>
              <td>
                <%= f.check_box "menus_attributes[][menu_selected]", {}, 'true', 'false'%>
                <%= f.hidden_field "menus_attributes[][menu_id]", value: menu.id %>
              </td> 
              <td>
                <%= f.number_field "menus_attributes[][quantity]",class: 'qty', value: 0 %>
              </td>
              <td>
                <span class="subtotal">0
                </span>
                <%= f.hidden_field "menus_attributes[][subtotal]", class: 'subTotalInput' %>
              </td>
              <td class="get_shop_id">
                <%= hidden_field_tag 'shop_id', @shop.id  %>
              </td>
            </tr>
          <% end %>
          <tr>
            <td><span>Total</span></td>
            <td><span></span></td>
            <td><span></span></td>
            <td><span></span></td>
            <td>
              <span id="total">0</span>
              <%= f.hidden_field :total, value: 0, id: 'hiddenTotal'%>
            </td>
          </tr>
          <%= f.submit 'Order' %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  
$("input:checkbox").change(function() {
  var ischecked= $(this).is(':checked');
  if(ischecked){
    $('.qty').change(function() {
      updateQuantity(this);
    });

    function updateQuantity(qtyInput) {
      var cartRow = $(qtyInput).closest('tr');
      var price = parseFloat($('.price', cartRow).text());
      var quantity = $('.qty', cartRow).val();
      var subtotal = $('.subtotal', cartRow);
      var linePrice = price * quantity;
      $(subtotal).text(linePrice.toFixed(2));
      $(".subTotalInput", cartRow).val(linePrice.toFixed(2));
      total_calculate() //call
    }

    function total_calculate() {
      var total = 0;
      //loop through subtotal
      $(".cart .subtotal").each(function() {
        //chck if not empty
        var value = $(this).text() != "" ? parseFloat($(this).text()) : 0;
        total += value; //add that value
      })
      //assign to total span
      $("span#total").text(total.toFixed(2));
      $("#hiddenTotal").val(total.toFixed(2));
    }
    total_calculate()
  }    
  else{
    alert("uncheckd");
  }
});

</script>

