<div class="container">
  <div class="jumbotron">
   <h1>Show</h1>
     <p><%= @shop.name %></p>
     <p><%= @shop.email %></p>
     <p><%= @shop.city %></p>
     <p><%= @shop.address %></p>
     <p><%= @shop.pin_code %></p>
     <p><%= @shop.phone %></p>
   </div>
   <%= link_to 'Back', :back %>
</div>

