<div class="container">
  <div class="jumbotron">
   <h1>Show</h1>
     <p><%= @user.fname %></p>
     <p><%= @user.email %></p>
     <p><%= @user.mobile %></p>
     <p><%= @user.gender %></p>
   </div>
   <%= link_to 'Back', :back %>
</div>

